body {
	background-color: black;
	color: grey;
}

.wrapper {
	width: 457px;
	height: 457px;
	border: solid black 1px;
	margin: 0 auto;
}

#player1name {
	color: red;
	font-family: 'Cinzel', serif;
}

#vs {
	font-size: 13pt;
}

#player2name {
	color: green;
}

.board {
	width: 150px;
	height: 150px;
	border: solid black 1px;
	background-color: white;
	float: left;
}

.board {
	background-color: grey;
}

.board:hover {
	background-color: white;
}

.buttonStyle {
	width: 111px;
	height: 20px;
	border: solid black 1px;
	margin: 5px 0px;
}

.test {
	background-color: grey;
	width: 55px;
	height: 25px;
	text-align: center;
	display: inline-block;
}

.buttonWrapper {
	display: inline-block;
	text-align: center;
	width: 457px;
}

#clearButton #changeName2 {
	float: left;
}
#newGame #changeName1 {
	float: right;
}

.textBox {
	width: 170px;
	height: 18px;
}



.x {
	background-image: url(images/mole.png);
	background-repeat: no-repeat;
	background-position: center;
}
.o {
	background-image: url(images/hammer.png);
	background-repeat: no-repeat;
	background-position: center;
}

.gameData {
	text-align: center;
}