<!DOCTYPE html>

<!-- bootstrap ng-app to html tag-->
<html ng-app="TTTapp">
	<head>
		<title>Tic Tac Toe firebaseObject</title>
		
		<!-- Stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		
		<!-- Javascript: angular, firebase, angularfire -->
		<script src="js/angular.js"></script>
		<script src="js/firebase.js"></script>
		<script src="js/angularfire.js"></script>

		<!-- Javascript: module, controller -->
		<script type="text/javascript" src="js/app.js" defer></script>
		<script type="text/javascript" src="js/controller.js" defer></script>

	</head>

	<!-- bootstrap controller to body tag, create alias as mainCtrl-->
	<body ng-controller="TTTController as mainCtrl">
		<div class="gameData">
			<h1 class="playerName">
				<span ng-bind = "mainCtrl.whatever.name1"></span> VS 
				<span ng-bind = "mainCtrl.whatever.name2"></span>
			</h1>
		
			<h2 class="score">
				<span ng-bind = "mainCtrl.whatever.p1score"></span> : 
				<span ng-bind = "mainCtrl.whatever.p2score"></span>
			</h2>

			<div "winnerDispaly">
				<h2 ng-bind = "mainCtrl.whatever.winner"></h2>
			</div>	


<!-- 		<form class="add-todo" ng-submit="todosCtrl.addTodo()">
			<input class="text-box" type="text" placeholder="I need to..." ng-model="todosCtrl.text">
		</form>	 -->

			<div "nameInput">
				<form class="test" ng-submit="mainCtrl.nameChange1()" ng-show="mainCtrl.whatever.showName1">
					<input type="text" 
						ng-model="mainCtrl.whatever.name1"
						ng-show="mainCtrl.whatever.showName1" 
						placeholder="Enter your name Player 1"
					>
				</form>

				<br>

				<form class="test" ng-submit="mainCtrl.nameChange2()" ng-show="mainCtrl.whatever.showName2">
					<input type="text" 
						ng-model="mainCtrl.whatever.name2"
						ng-show="mainCtrl.whatever.showName2" 
						placeholder="Enter your name Player 2"
					>
				</form>				

				<br>
				<!-- buttons that allows you to open the two inputs for two names again -->
				<input type="button" 
					class = "changeName" 
					ng-click="mainCtrl.name1Again()" 
					ng-show="mainCtrl.whatever.change1Again" 
					value="change name 1"
				>
				<br>
				<input type="button"
					class = "changeName" 
					ng-click="mainCtrl.name2Again()" 
					ng-show="mainCtrl.whatever.change2Again"
					value="change name 2"
				>					
			</div>
			<!-- clear your board -->
			<input class ="clear-board-button" 
				type="button" 
				ng-click="mainCtrl.clearBoard()" 
				value="Clear Board"
			>			
		</div>
		<!-- contains cells and make them 3x3 grid -->
		<div class="wrapper">

			<!-- class="board" -> cells displays and performs actions : 
				ng-repeat -> iterates through the cell 9 times, 
				ng-click -> pushes the value into firebase,
				ng-bind -> retrieves value in firebase to display on viewer-->			
			<div class="board" 
				ng-repeat="square in mainCtrl.whatever.gridList track by $index" 
				ng-click="mainCtrl.changeValue($index)" 
				ng-class="square.value"
			>
			</div>

		</div>

	</body>
</html>